.inputCnfFile {
  padding: 10px;
  margin: 60px 120px 20px;
  text-align: center;
  background: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 4px;
  cursor: pointer;

  input {
    display: none;
  }

  p {
    margin: 5px;
  }

  .inputIcon {
    i {
      color: #40a9ff;
      font-size: 27px;
    }
  }

  .description {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
}
